@import"https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap";

:root {
  --color-bg: #e2e8f0;
  --color-blue: #1992d4;
  --color-yellow: #facc15;
  --color-orange: #f0b429;
  --color-text: #222222;
  --color-description: #636363
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit
}

html {
  font-size: 62.5%;
  box-sizing: border-box
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  display: flex
}

button,
input {
  font-family: inherit
}

button {
  border: none;
  background: none;
  cursor: pointer
}

img {
  width: 100%
}

a {
  text-decoration: none
}

.menu {
  background-color: var(--color-blue);
  transition: all 300ms ease-in-out
}

@media(min-width: 1120px) {
  .menu {
    padding: 0 40px 0 0
  }
}

.menu__logo {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 20px
}

.menu__logo span {
  font-size: 2.4rem;
  font-weight: 600;
  margin-left: 10px
}

@media(max-width: 1119px) {
  .menu__logo span {
    display: none
  }
}

.menu__group {
  margin-top: 60px
}

.menu__link {
  list-style: none
}

.menu__link a {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  margin: 10px;
  border-radius: 6px;
  transition: background-color 200ms
}

.menu__link a:hover {
  background-color: rgba(0, 0, 0, .15)
}

.menu__link a.active {
  background-color: rgba(0, 0, 0, .1)
}

@media(max-width: 1119px) {
  .menu__link a {
    justify-content: center
  }
}

.menu__text {
  margin-left: 20px;
  font-size: 1.8rem;
  color: #fff;
  font-weight: 500
}

@media(max-width: 1119px) {
  .menu__text {
    display: none
  }
}

main {
  display: flex;
  flex-direction: column;
  width: 100%
}

.header {
  padding: 20px 40px;
  background-color: #fff;
  position: relative;
  box-shadow: rgba(99, 99, 99, .2) 0px 2px 8px 0px
}

.header .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px
}

.header .top__left {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 10px
}

.header .top__left input {
  border: none;
  background-color: var(--color-bg);
  padding: 8px 20px;
  border-radius: 20px;
  width: 100%;
  font-weight: 500
}

.header .top__left input:focus {
  outline: 0
}

.header .top__right {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative
}

.header .top__right .bell__btn {
  padding: 6px;
  position: relative
}

.header .top__right .bell__btn .counter {
  background-color: #ef4444;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -3px;
  right: -3px
}

.header .top__right .profile__btn {
  display: flex;
  align-items: center;
  gap: 10px
}

.header .top__right .profile__btn img {
  width: 40px;
  height: auto
}

.header .top__right .profile__btn span {
  font-size: 1.8rem;
  font-weight: 600
}

.header .bottom {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.header .bottom__left {
  display: flex;
  align-items: center
}

.header .bottom__left .avatar {
  width: 70px;
  height: auto
}

.header .bottom__left .user {
  margin-left: 20px
}

.header .bottom__left .user__greeting {
  font-weight: 700
}

.header .bottom__left .user__info {
  font-size: 2.2rem;
  font-weight: 700
}

.header .bottom__right {
  display: flex;
  align-items: center;
  gap: 20px
}

.header .bottom__right button {
  background-color: var(--color-blue);
  color: #fff;
  font-weight: 500;
  border-radius: 30px;
  padding: 8px;
  min-width: 90px;
  transition: transform 200ms ease-in-out
}

.header .bottom__right button:hover {
  transform: translateY(-3px)
}

.app {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: -webkit-min-content 1fr;
  grid-template-rows: min-content 1fr;
  gap: 30px;
  grid-template-areas: "projects advertising" "projects announcements" "projects trending";
  overflow: auto
}

.app h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px
}

.app .card {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1)
}

.app .card li {
  list-style: none
}

.app .projects {
  grid-area: projects
}

.app .projects__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  grid-auto-rows: 250px;
  padding-bottom: 30px
}

.app .projects__cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 10px solid var(--color-orange)
}

.app .projects__cards h4 {
  font-size: 1.8rem;
  font-weight: 600
}

.app .projects__cards p {
  margin-top: 8px;
  color: var(--color-description)
}

.app .projects__cards .actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px
}

.app .announcements {
  grid-area: announcements;
  max-width: 300px
}

.app .announcements h5 {
  font-weight: 600;
  margin-bottom: 5px
}

.app .announcements p {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--color-description);
  line-height: 1.3
}

.app .announcements li+li {
  padding-top: 15px;
  border-top: 1px solid var(--color-bg)
}

.app .announcements li:not(:last-child) {
  padding-bottom: 15px
}

.app .trending {
  grid-area: trending;
  max-width: 300px
}

.app .trending li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer
}

.app .trending li+li {
  margin-top: 30px
}

.app .trending img {
  width: 48px;
  height: auto
}

.app .trending .user__list {
  display: flex;
  flex-direction: column;
  line-height: 1
}

.app .trending .user__list .username {
  font-size: 1.5rem;
  font-weight: 600
}

.app .trending .user__list .status {
  color: var(--color-description);
  margin-top: 5px;
  font-size: 1.4rem
}

.notifications {
  background-color: #fff;
  position: absolute;
  top: 115%;
  right: 85%;
  box-shadow: rgba(50, 50, 93, .25) 0px 13px 27px -5px, rgba(0, 0, 0, .3) 0px 8px 16px -8px;
  padding: 30px;
  border-radius: 6px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  transition: all 200ms ease-in-out
}

.notifications.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0)
}

.notifications::before {
  content: "";
  position: absolute;
  background-color: #fff;
  border-right: 0;
  border-bottom: 0;
  border-top: .5px;
  border-left: .5px;
  border-color: rgba(51, 51, 51, .08);
  border-style: solid;
  width: 14px;
  height: 14px;
  top: -8px;
  right: 11px;
  transform: rotate(45deg)
}

.notifications li {
  display: flex;
  align-items: center;
  list-style: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  line-height: 1;
  cursor: pointer
}

.notifications li+li {
  padding-top: 15px;
  border-top: 1px solid var(--color-bg)
}

.notifications li:not(:last-child) {
  padding-bottom: 15px
}

.notifications li img {
  width: 40px;
  height: auto
}

.notifications li div {
  margin-left: 10px;
  display: flex;
  flex-direction: column
}

.notifications li div span {
  margin-top: 4px;
  font-size: 1.4rem
}

.settings {
  background-color: #fff;
  position: absolute;
  top: 115%;
  right: 10%;
  box-shadow: rgba(50, 50, 93, .25) 0px 13px 27px -5px, rgba(0, 0, 0, .3) 0px 8px 16px -8px;
  border-radius: 6px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  transition: all 200ms ease-in-out
}

.settings.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0)
}

.settings::before {
  content: "";
  position: absolute;
  background-color: #fff;
  border-right: 0;
  border-bottom: 0;
  border-top: .5px;
  border-left: .5px;
  border-color: rgba(51, 51, 51, .08);
  border-style: solid;
  width: 14px;
  height: 14px;
  top: -8px;
  left: 75px;
  transform: rotate(45deg)
}

.settings a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px;
  color: var(--color-text);
  transition: background-color 200ms
}

.settings a:hover {
  background-color: rgba(0, 0, 0, .05);
  z-index: 3
}

.settings a span {
  margin-left: 10px
}

.advertising {
  grid-area: advertising
}

.advertising .card {
  width: 300px;
  height: auto
}

.advertising .card li {
  list-style-type: disc;
  margin-left: 20px;
  line-height: 1.3;
  font-size: 1.4rem;
  font-weight: 500
}

.advertising .card li+li {
  margin-top: 15px
}

.advertising .card li a {
  text-decoration: underline;
  color: var(--color-blue)
}

/*# sourceMappingURL=main.css.map */